{% extends "layout.html" %}
{% block title %}Startseite{% endblock %}
{% block body %}
    {% if error %}
      <p class=error><strong>Fehler:</strong> {{ error }}
    {% endif %}
<h2>Daten wirklich löschen?</h2>
<form action="" method=post>
  <input type="hidden" name=operation value=start>
  <p><input type=submit class="button" value="Nein, doch nicht!">
</form>
<form action="" method=post>
    <input type="hidden" name=operation value=confirm_delete>
    <p><input type=submit class="button delete-button" value="Ja, meine Daten löschen">
</form>
{% endblock %}
{% block impressum_link %}
<div class="box bottom-box">
  <form action="" method=post>
    <input type="hidden" name=operation value=impressum_auth>
    <p><input type=submit class=textlink value="Datenschutz und Impressum"></p>
    </form>
</div>
{% endblock %}