{% extends "layout.html" %}
{% block title %}aktuelles Spiel{% endblock %}
{% block login %}
{% if username %}
<form action="" method=post>
  <input type="hidden" name=operation value=logout>
  <p><input type=submit class=logoutlink value="{{ username }} abmelden"></p>
</form>
{% endif %}
{% endblock %}
{% block body %}
    <h1>Wer bin ich?</h1>
    {% if error %}
      <p class=error><strong>Fehler:</strong> {{ error }}
    {% elif success %}
      <div class=success><strong>Erfolg:</strong> {{ success }}
      </div>
    {% else %}
      <p></p>
    {% endif %}
  <h2>Charakter eingeben:</h2>
  <form action="" method="POST">
    <p><select name=player id=player>
        {% for key, value in player_list.items() %}
        <option value={{ key }}>{{ value["name"] }}</option>
        {% endfor %}
    </select></p>
    <p><input type="text" placeholder="Charakter" name=character required></p>
    <input type="hidden" name=operation value=set_player_character>
    <p><input type="submit" class=button value="Eintragen"></p>
  </form>
  {% endblock %}
  {% block body2 %}
  <div class=box>
  <h2>Mitspieler:innen in {{ game_id }}</h2>
  <form action="" method="POST">
    <input type="hidden" name=operation value=reload_game>
    <p><input type="submit" class=textlink value="Neu laden"></p>
  </form>
  <div class="row">
    <div class="column header">Name</div>
    <div class="column header">Charakter</div>
  </div>
  {% if player_list %}
  {% for key, value in player_list.items() %}
  <div class=row>
    <div class=column>{{ value["name"] }}</div>
    <div class=column>{{ value["character"] }}</div>
  </div>
  {% endfor %}
  {% else %}
    <p>Du spielst noch allein.</p>
  {% endif %}
  
  <form action="" method=post>
    <p><input type=submit class="button plain-button" value="Spiel verlassen"></p>
    <input type=hidden name=operation value=leave_game>
  </form>
</div>
{% endblock %}