{% extends "layout.html" %}
{% block title %}Startseite{% endblock %}
{% block body %}
<h1>Wer bin ich?</h1>
    {% if error %}
      <p class=error><strong>Fehler:</strong> {{ error }}
    {% elif success %}
      <div class=success><strong>Erfolg:</strong> {{ success }}
      </div>
    {% else %}
      <p></p>
    {% endif %}
<form action="" method=post>
    <input type="hidden" name=operation value=show_games>
    <p><input type=submit class=button value="Einem Spiel beitreten">
</form>
<form action="" method=post>
    <input type="hidden" name=operation value=enter_new_name>
    <p><input type=submit class=button value="Namen ändern">
</form><form action="" method=post>
<form action="" method=post>
    <input type="hidden" name=operation value=enter_new_pw>
    <p><input type=submit class=button value="Passwort ändern">
</form><form action="" method=post>
  <input type="hidden" name=operation value=logout>
  <p><input type=submit class=button value="Abmelden">
</form>
<form action="" method=post>
  <input type="hidden" name=operation value=delete_user_data>
  <p><input type=submit class="button delete-button" value="Meine Daten löschen">
</form>
{% endblock %}
{% block impressum_link %}
  <form action="" method=post>
    <input type="hidden" name=operation value=impressum_auth>
    <p><input type=submit class=textlink value="Datenschutz und Impressum"></p>
    </form>
{% endblock %}