{% extends "layout.html" %}
{% block title %}Spiel starten{% endblock %}
{% block body %}
  <h2>Spiel und Passwort:</h2>
  <form action="" method=post>
    {% if error %}
      <div class=error><strong>Fehler:</strong> {{ error }}
        </div>
    {% endif %}
    {% if success %}
      <div class="success"><strong>Erfolg:</strong> {{ success }}
      </div>
    {% endif %}
    <p>Spiel beitreten:
      <p><input type=text name=game_id value="{{ game_id }}" required>
      <p><input type="password" name=game_pw required>
      <p><input type="hidden" name=operation value=join_game>
      <p><input type=submit class=button value="   Beitreten   ">
  </form>
  {% if game_list %}
  {% for item in game_list %}
    <p>{{ item }}</p>
  {% endfor %}
  {% endif %}
{% endblock %}