<!doctype html>
<head>
  {% block redirect %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="shortcut icon" href="/static/favicon.ico">
<title>{% block title %}{% endblock %} | WerBinIch?</title>
<link rel=stylesheet href=/static/style.css type=text/css>
<div class=wrapper>
<div class=topnav>
<form action="" method="POST">
  <input type="hidden" name=operation value=start>
  <input type="submit" value='"Wer bin ich?"' class=headerlink>
</form>
{% block login %}{% endblock %}
</div>
<div class=box>
  {% block body %}{% endblock %}
</div>
</div>