<!doctype html>
<head>
  {% block redirect %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="shortcut icon" href="/static/favicon.ico">
<title>{% block title %}{% endblock %} | WerBinIch?</title>
<link rel=stylesheet href=/static/style.css type=text/css>
<div class=wrapper>
<div class=box>
  {% block body %}{% endblock %}
</div>
  {% block body2 %}{% endblock %}
  <p></p>
</div>

<div class="box bottom-box">
{% block impressum_link %}
{% endblock %}
<a href="https://paulypeter.github.io/werbinichbot/docs/manual.html" class=textlink
  target="_blank" />Anleitung</a>
</div>