{% extends "layout.html" %}
{% block title %}Anmelden{% endblock %}
{% block body %}
<h1>Wer bin ich?</h1>
    {% if error %}
      <div class=error><strong>Fehler:</strong> {{ error }}
        </div>
    {% endif %}
    {% if success %}
      <div class=success><strong>Erfolg:</strong> {{ success }}
      </div>
    {% endif %}
    <h2>Nutzername und Passwort:</h2>
    <form action="" method=post>
      <p><input type=text name=username placeholder="Nutzername" required>
      <p><input type="password" name=login_pw placeholder="Passwort" required>
      <p><input type="hidden" name=operation value=login>
      <p><input type=submit class=button value="   Anmelden   ">
  </form>
  <form action="" method=post>
  <input type="hidden" name=operation value=registration_form>
  <p><input type=submit class=textlink value="Registrieren"></p>
  </form>
{% endblock %}
{% block impressum_link %}
<div class="box bottom-box">
  <form action="" method=post>
    <input type="hidden" name=operation value=impressum>
    <p><input type=submit class=textlink value="Datenschutz und Impressum"></p>
    </form>
</div>
{% endblock %}