{% extends "layout.html" %}
{% block title %}Registrieren{% endblock %}
{% block body %}
    {% if error %}
      <p class=error><strong>Fehler:</strong> {{ error }}
    {% endif %}
    <h2>Daten eingeben:</h2>
    <form action="" method=post>
    <p><input type=text name=name placeholder="Anzeigename" title="Das wird Deinen Mitspieler:innen angezeigt." required>
    <p><input type=text name=username placeholder="Nutzername" title="Damit meldest Du Dich an." required>
    <p><input type="password" placeholder="Passwort" name=pw minlength="8" required>
    <p><input type="password" name=pw_confirm placeholder="Passwort bestätigen" minlength="8" required>
      <p><div class=check><input type="checkbox" name=datenschutz id=datenschutz_check required>
        <label for=datenschutz_check>Ich habe die Datenschutzerklärung gelesen und stimme den Bedingungen zu.
        </label></div></p>
    <input type="hidden" name=operation value=register>
    <p><input type=submit class=button value="Registrieren">
  </form>
  <form action="" method=post>
    <input type="hidden" name=operation value=cancel_registration>
    <p><input type=submit class=textlink value="zurück"></p>
    </form>
{% endblock %}
{% block impressum_link %}
  <form action="" method=post>
    <input type="hidden" name=operation value=impressum>
    <p><input type=submit class=textlink value="Datenschutz und Impressum"></p>
    </form>
{% endblock %}